In [46]:
import numpy as np
import pandas as pd
selectedStocks = []
selectedScore = []

In [47]:
hurstScore = pd.read_csv('hurst_scores.csv', names=('A'))
scores = hurstScore['A']
stocks = hurstScore.index

In [48]:
j = 0
while j < len(scores) :
    if(scores[j] < 0.5) :
        selectedStocks.append(stocks[j])
        selectedScore.append(scores[j])
    j += 1

In [52]:
df = pd.DataFrame(columns= ['stock_name', 'hurst_score'])
df['stock_name'] = selectedStocks
df['hurst_score'] = selectedScore
df.head()

   stock_name  hurst_score
0  JPASSOCIAT     0.271709
1    GMRINFRA     0.181185
2      SUZLON     0.243309
3   IBREALEST     0.197985
4  RELCAPITAL     0.238794

In [53]:
df.to_csv("selected_stocks.csv")